{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Lester James  — an aspiring software developer passionate about building clean,
            functional web apps using Python, Flask, Django, and SQL.
            </p>
          <p>

            I created this blog to share my projects, coding journey, and the things that keep me inspired.
            When I’m not coding, I’m probably with my cats, spending time with my girlfriend, playing video games,
            hiking, or working out at the gym.
              </p>
            <p>
            This is my space to blend tech, creativity, and life — welcome aboard!
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
